FRONTEND_URL=http://localhost:3000
ANTHROPIC_API_KEY=
SYNTHETIC_SEED=42
SYNTHETIC_DAYS=14
SYNTHETIC_BASELINE_TRANSACTIONS=20000
RULE_LARGE_COLLECT_AMOUNT_THRESHOLD=25000
RULE_RAPID_TRANSFER_WINDOW_SECONDS=300
RULE_RAPID_TRANSFER_MINIMUM_COUNT=3
RULE_CIRCULAR_FLOW_WINDOW_SECONDS=300
RULE_CIRCULAR_FLOW_MAX_TRANSFERS=4
ISOLATION_FOREST_CONTAMINATION=0.01
ISOLATION_FOREST_N_ESTIMATORS=200
ISOLATION_FOREST_RANDOM_STATE=42
LIGHTGBM_TEST_SIZE=0.2
LIGHTGBM_RANDOM_STATE=42
LIGHTGBM_THRESHOLD=0.5
LIGHTGBM_N_ESTIMATORS=100
LIGHTGBM_LEARNING_RATE=0.05
LIGHTGBM_NUM_LEAVES=7
LIGHTGBM_MAX_DEPTH=4
LIGHTGBM_MIN_CHILD_SAMPLES=5
NETWORK_RAPID_PATH_WINDOW_SECONDS=300
NETWORK_RAPID_PATH_MINIMUM_HOPS=3
NETWORK_RAPID_PATH_MAXIMUM_HOPS=6
NETWORK_CYCLE_WINDOW_SECONDS=300
NETWORK_CYCLE_MAXIMUM_LENGTH=4
NETWORK_HUB_DEGREE_THRESHOLD=31
NETWORK_HUB_MINIMUM_TRANSACTIONS=12
RISK_MEDIUM_THRESHOLD=30
RISK_HIGH_THRESHOLD=70
RISK_ALERT_THRESHOLD=30